.task-name {
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.task-name + p {
  font-size: 12px;
  font-weight: 700;
}
/* .tasks-container #wrapper a{
  text-decoration:none
} */

.task-card-container #wrapper:hover {
  cursor: pointer;
}

.task-card-container #wrapper:hover .task-name {
  color: var(--main-purple);
}
