article {
  position: absolute;
  margin-inline: 1rem;
  top: 207px;
  width: 343px;
  /* height: 50%; */
  /* border: 1px solid white; */
  left: calc(50% - 175.5px);
  z-index: 3;
}

/* .task-fill-details  */
article h3 {
  font-size: 18px;
  width: 90%;
  line-height: 23px;
}

article ul li,
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  margin-bottom: 24px;
}

.title-container + p {
  font-size: 13px;
  line-height: 23px;
}

article h4 {
  color: white;
  font-size: 12px;
  font-weight: 700px;
  line-height: 15px;
  margin: 24px 0 1rem 0;
}

article ul li {
  list-style: none;
  justify-content: start;
  padding: 21px 8px 21px 12px;
  background: var(--very-dark-gray);
  gap: 1rem;
  border-radius: 4px;
}

article input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
}

article ul li:not(:last-child) {
  margin-bottom: 8px;
}

article ul li p {
  font-size: 12px;
  font-weight: 700;
  color: white;
}

article input[type='checkbox']:checked + p {
  color:var(--medium-gray);
  font-weight: 700;
  text-decoration: line-through;
}

@media (min-width: 48em) {
  article {
    width: 480px;
    left: calc(50% - 240px);
  }

  article #wrapper{
    padding: 32px;
  }
}
