.add-btn {
  border:none;
  width: 168px;
  height: 48px;
  color: white;
  font-size: 15px;
  text-transform: capitalize;
  background: var(--main-purple);
  border-radius: 24px;
  cursor: pointer;
}

.add-btn:hover {
  background: var(--main-purple-hover);
}
