.home__main-container {
  width: 100%;
  transition: all 350ms;
  /* display; */
  /* border: 1px solid white; */
  height: 100vh;
}

.home__show-sidebar-container {
  display: none;
}

@media (min-width: 48em) {
  #main {
    display: flex;
  }

  .translate-home {
    margin-left: 260px;
  }

  .home__show-sidebar-container {
    display: inline-block;
    position: absolute;
    bottom: 50px;
    width: 56px;
    height: 48px;
  }

  .hide-container {
    display: none;
  }
}
