.column {
  /* border: 1px solid white; */
  width: 100%;
  /* width: 100%;  1192px */
  height: 100%;
  display: flex;
  gap: 24px;
}

.task-info {
  display: flex;
  gap: 12px;
}

.task-status-color {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  /* aspect-ratio: 1; */
  background: #49c4e5;
}

.task-status-color + p {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.tasks-container {
  width: 280px;
  /* border: 1px solid white; */
}

.tasks-container .task-card-container:not(:last-child) {
  margin-bottom: 20px;
}
